pytest
coverage
pytest-cov
lxml
dateutils
git+https://gitlab.csc.fi/dpres/mets.git@develop#egg=mets
git+https://gitlab.csc.fi/dpres/premis.git@develop#egg=premis
git+https://gitlab.csc.fi/dpres/xml-helpers.git@develop#egg=xml_helpers
