pytest
coverage
pytest-cov
lxml
dateutils
git+https://source.csc.fi/scm/git/pas/mets@develop#egg=mets
git+https://source.csc.fi/scm/git/pas/premis@develop#egg=premis
git+https://source.csc.fi/scm/git/pas/xml-helpers@develop#egg=xml_helpers
